.icon-button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  right: 0;
  align-items: center;
  z-index: 10;
  gap: 6px;
}

.icon-button {
  font-size: 30px;
  color: var(--color-fg);
  cursor: pointer;
  transition: filter 0.2s, transform 0.2s;
  line-height: 1;
  user-select: none;
  display: inline-block;
  transform: translateY(-2px);
}

.icon-button:hover {
  transform: translateY(-2px) scale(1.1);
  color: var(--color-fg);
}
