#input-wrapper {
  display: flex;
  width: 100%;
}

#input {
  flex: 1;
  font-family: inherit;
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  line-height: 1.4;
  width: 100%;
  outline: none;
  padding: 0;
  margin: 0;
}
