:root {
  --color-bg: #1e1e1e;
  --color-fg: #ffffff;
  --color-muted: #aaaaaa;
  --color-accent: #888888;
  --color-terminal-bg: #000;
  --color-matrix-bg: rgba(0, 0, 0, 0.05);

  --font-main: "Courier New", monospace;
  --font-size-base: 14px;

  --icon-filter: invert(100%) brightness(110%);
}

:root[data-theme="light"] {
  --color-bg: #fdfdfd;
  --color-fg: #111111;
  --color-muted: #666666;
  --color-accent: #007acc;
  --color-terminal-bg: #f3f3f3;
  --color-matrix-bg: rgba(255, 255, 255, 0.08);

  --icon-filter: invert(0%) brightness(90%);
}
