:root {
  --color-bg: #1e1e1e;
  --color-fg: #ffffff;
  --color-muted: #aaaaaa;
  --color-accent: #888888;
  --color-terminal-bg: #000;
  --color-matrix-bg: rgba(0, 0, 0, 0.05);

  --font-main: "Courier New", monospace;
  --font-size-base: 14px;

  --icon-filter: invert(100%) brightness(110%);
}

:root[data-theme="light"] {
  --color-bg: #fdfdfd;
  --color-fg: #111111;
  --color-muted: #666666;
  --color-accent: #007acc;
  --color-terminal-bg: #f3f3f3;
  --color-matrix-bg: rgba(255, 255, 255, 0.08);

  --icon-filter: invert(0%) brightness(90%);
}

#terminal {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.custom-caret {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

.custom-caret--selected {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

@keyframes caret-blink {
  0%,
  100% {
    background-color: var(--color-fg);
    color: var(--color-bg);
  }
  50% {
    background-color: transparent;
    color: var(--color-fg);
  }
}

.theme-icon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  right: 0;
  align-items: center;
  z-index: 10;
}

.theme-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: var(--icon-filter);
  transition: filter 0.2s, transform 0.2s;
}

.theme-icon:hover {
  filter: var(--icon-filter) brightness(1.2);
  transform: scale(1.1);
}
