#terminal {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  background-color: var(--color-terminal-bg);
  padding: 8px;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  margin: 10px 0;
}

#matrix-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

body.fullscreen-mode {
  #terminal {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}